<article class='box post'>
  <div class='post-heading'>
    <a href='/post/{{id}}' class='title'>{{title}}</a>
    <div class='meta'>Posted by
      {{user.username}}
      on
      {{format_date createdAt}}</div>
  </div>
  <div>
    <p class='post-content'>{{post_text}}</p>
  </div>
</article>